@media (max-width: 768px) {
  .formWrapperContainer {
    flex-shrink: 0;
  }
}
.formWrapperContainer {
  z-index: 100000;
  display: flex;
  color: var(--white);
  width: var(--sidebar-width);
  background-color: var(--black);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: rem;
  transition: all var(--transition-speed) ease;
  overflow-y: auto;
  overflow-x: auto;
  height: calc(100vh - 80px);
  position: sticky;
  top: 80px;
}

.formWrapper {
  position: absolute;
  padding: 1rem;
  border-right: solid;
  border-right-width: thin;
  border-color: var(--white);
}

.filter {
  margin-bottom: 1.5rem;
}

.rarityLabel {
  width: 80px;
  display: inline-block;
}

.rarityInput {
  width: auto;
}

.collapsed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.toggleSidebar {
  position: absolute;
  left: 10px;
  top: 98px;
  background: var(--dark-red);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}