.table {
  width: calc(100% - var(--sidebar-width));
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .container {
    flex: 1;
    min-width: 0;
  }

  .scrollableArea {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }

  .scrollableArea table {
    width: 100%;
  }
  
  .table {
    padding-right: 20px;
    flex: 1;
    min-width: 800px;
    width: calc(100% - var(--sidebar-width));
  }
  .headerRow {
    width: auto;
  }
  .headerCell {
    flex: 1;
    min-width: none;
    text-align: left;
  }
  
  .cell::before {
    content: attr(data-label);
    left: 10px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  } 
  .cell {
    flex: 1;
    min-width: none;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  .cell::before {
    content: attr(data-label);
    left: 10px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  }
}

.headerRow {
  background-color: var(--charcoal);
  color: var(--white);
  top: 0;
  width: max-content;
}

.headerCell {
  padding: 1rem;
  text-align: left;
  font-weight: 600;
}

.row {
  color: var(--white);
  background-color: var(--black);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 99%;
}

.row:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cell {
  padding: 1rem;
  border: 1px solid var(--medium-gray);
  border-style: solid none;
}

.row:first-child .cell:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-left-style: solid;
}

.row:first-child .cell:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-right-style: solid;
}

.cell.sellNowZero {
  color: red !important;
}

.tooltip {
  width: 30px;
  color: white;
  text-align: center;
}