.table {
  width: calc(100% - var(--sidebar-width));
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin: 0 1rem;
}

.headerRow {
  background-color: var(--charcoal);
  color: var(--white);
  position: sticky;
  top: 0;
}

.headerCell {
  padding: 1rem;
  text-align: left;
  font-weight: 600;
}

.row {
  color: var(--white);
  background-color: var(--black);
  transition: transform 0.2s, box-shadow 0.2s;
}

.row:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cell {
  padding: 1rem;
  border: 1px solid var(--medium-gray);
  border-style: solid none;
}

.row:first-child .cell:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-left-style: solid;
}

.row:first-child .cell:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-right-style: solid;
}